<form class="edit-itinerary" {{action save on=submit}}>
  {{input value=title type='text'}}
  {{textarea value=description class="mbn"}}
  <small>You can use markdown makeup here.</small>
  <div class="clear mtm">
    {{input type='submit' value="Save" class="button"}}
  </div>
</form>
