<div class="small-12 columns">
  <div class="small-6 columns panel">
    <h3>Add a Van</h3>
    {{partial 'vans/vanForm'}}
  </div>
  <div class="small-6 columns">
    <h3>Search Result Example</h3>
    <ul class="no-bullet create-result">
      {{search-result price="50000" vans=this}}
    </ul>
    
  </div>
  


</div>
