<div class="wrapper">
  <div class="small-4 columns text">
    <h4>{{name}}</h4>
    <p>{{details}}</p>
  </div>
  <div class="small-4 large-offset-2 columns image">
    <img {{bindAttr src=imageUrl }} >
  </div>
</div>
