<div class="row">
  <div class="large-6 columns large-centered panel">
    <h2>Wops we can't find that page</h2>
    <p>{{#link-to 'bookings.new'}}Head to the home page{{/link-to}}</p>
  </div>
</div>


