<div class="page">
  <div class="large-12 columns">
    <div class="columns small-8">
      <h2>{{#link-to 'vans'}}Vans{{/link-to}}</h2>
    </div>
    <div class="columns small-4 right">
      {{#link-to 'vans.create' class='button'}}Add a Van{{/link-to}}
    </div>
    {{outlet}}
  </div>
</div>
