$left: 0%;
$right: 95%;
$first-color: #c95516;
$second-color: lighten(#c95516, 20%);
$ball-size: emCalc(15px);

#followingBallsG{
  position:relative;
  margin: 0 auto;
  width: 100%;
  height:20px;
}

.followingBallsG{
  background-color:$first-color;
  position:absolute;
  top:0;
  left:0;
  width:$ball-size;
  height:$ball-size;
  -moz-border-radius:10px;
  -moz-animation-name:bounce_followingBallsG;
  -moz-animation-duration:1.5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:10px;
  -webkit-animation-name:bounce_followingBallsG;
  -webkit-animation-duration:1.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:10px;
  -ms-animation-name:bounce_followingBallsG;
  -ms-animation-duration:1.5s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:10px;
  -o-animation-name:bounce_followingBallsG;
  -o-animation-duration:1.5s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:10px;
  animation-name:bounce_followingBallsG;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#followingBallsG_1{
  -moz-animation-delay:0s;
  -webkit-animation-delay:0s;
  -ms-animation-delay:0s;
  -o-animation-delay:0s;
  animation-delay:0s;
}

#followingBallsG_2{
  -moz-animation-delay:0.15s;
  -webkit-animation-delay:0.15s;
  -ms-animation-delay:0.15s;
  -o-animation-delay:0.15s;
  animation-delay:0.15s;
}

#followingBallsG_3{
  -moz-animation-delay:0.3s;
  -webkit-animation-delay:0.3s;
  -ms-animation-delay:0.3s;
  -o-animation-delay:0.3s;
  animation-delay:0.3s;
}

#followingBallsG_4{
  -moz-animation-delay:0.45s;
  -webkit-animation-delay:0.45s;
  -ms-animation-delay:0.45s;
  -o-animation-delay:0.45s;
  animation-delay:0.45s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:$left;
background-color:$first-color;
}

50%{
left:$right;
background-color:$second-color;
}

100%{
left:$left;
background-color:$first-color;
}

}

@-webkit-keyframes bounce_followingBallsG{
  0%{
    left:$left;
    background-color:$first-color;
  }

  50%{
    left:$right;
    background-color:$second-color;
  }

  100%{
    left:$left;
    background-color:$first-color;
  }

}

@-ms-keyframes bounce_followingBallsG{
  0%{
    left:$left;
    background-color:$first-color;
  }

  50%{
    left:$right;
    background-color:$second-color;
  }

  100%{
    left:$left;
    background-color:$first-color;
  }

}

@-o-keyframes bounce_followingBallsG{
  0%{
    left:$left;
    background-color:$first-color;
  }

  50%{
    left:$right;
    background-color:$second-color;
  }

  100%{
    left:$left;
    background-color:$first-color;
  }

}

@keyframes bounce_followingBallsG{
  0%{
    left:$left;
    background-color:$first-color;
  }

  50%{
    left:$right;
    background-color:$second-color;
  }

  100%{
    left:$left;
    background-color:$first-color;
  }
}
